body {
	text-align: center;
	font: Raleway, sans-serif;
	background-color: #0B3C5D;
	color: #fff;
	min-width: 400px;

	max-width: 42em;
  padding: 2em;
  margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container, .container-fluid {
	margin-top: 10%;
	margin-right: 10%;
	border-radius: 5px;
/*	background-color: #FFCE00; */
}

.center {
	text-align: center;
}

.left {
	text-align: left;
/*	background-color: red; */
}

.right {
	text-align: right;
	padding-bottom: 10%;
	font-weight: bold;
/*	background-color: green; */
}

#city, #country {
	font-size: 2em;
}

#temp {
	font-size: 3em;
	font-weight: bold;
}