body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #0B3C5D;
	color: #fff;
	min-width: 550px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container, .container-fluid {
	margin-top: 10%;
	margin-right: 10%;
	border-radius: 10px;	
	padding: 5%;
	padding-left: 0;
	background-color: #1D2731;
	border-style: solid;
	border-color: #fff; 
}

.center {
	text-align: center;
}

.left {
	text-align: left;
/*	background-color: red; */
}

.right {
	text-align: right;
	padding-bottom: 10%;
	font-weight: bold;
	color: #B8BDC1;
	/*	background-color: green; */
}

#name {
	font-size: 1.5em;
}

#city, #country {
	font-size: 1em;
	color: #B8BDC1;
}

#temp {
	font-size: 3em;
	font-weight: bold;
}

#condition {
	font-weight: bold;
}