body {
	text-align: center;
	font: Raleway, sans-serif;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container, .container-fluid {
	margin-left: 10%;
	margin-right: 10%;
	background-color: lightblue;
	border-radius: 5px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
	background-color: red;
}

.right {
	text-align: right;
	background-color: green;
}

